.active.item {
    border-left: 8px solid var(--main-color);
}

.spinner-center {
    --color : var(--main-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(3);
}
