<ion-card>
  <ion-card-content>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <div *ngIf="playlist.images.length>0; else no_img">
          <ion-img src="{{playlist.images[0].url}}"></ion-img>
        </div>
        <ng-template #no_img>
          <ion-img src="./../../assets/icon/playlist.svg"></ion-img>
        </ng-template>
      </ion-thumbnail>
      <ion-label>
      <h1 class="sf_general_title ion-text-left">
        {{playlist.name}}
      </h1>
      <p class="sf_text">
        {{playlist.owner.display_name}}
      </p>
        </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
