<ion-header *ngIf="session.isAuth()">
    <ion-toolbar>
        <ion-title class="sf_general_title">
            Spotifine

            <div class="sf_container">
                <ion-button (click)="get_account()" class="sf_button" fill="clear">
                    <ion-icon name="person-outline" class="sf_icons">
                    </ion-icon>
                </ion-button>
            </div>

        </ion-title>

    </ion-toolbar>
</ion-header>
<div class="sf_container">
    <ion-button (click)="session.log_out()" class="sf_button" fill="clear">
        <ion-icon name="log-out-outline" class="sf_icons">
        </ion-icon>
    </ion-button>
</div>

