<ion-header *ngIf="session.isAuth()">
  <ion-toolbar>
    <ion-title class="sf_general_title">Spotifine</ion-title>
  </ion-toolbar>
</ion-header>

<ng-container class="">
  <div class="sf_general_title">
    Welcome !
  </div>

    <div style="text-align: center" class="sf_font">
      First, please grant access to your account details
    </div>
  <div class="sf_container">
    <ion-button (click)="authorize()" fill="clear" class="sf_button">
      <ion-icon class="sf_icons" name="key-outline"></ion-icon>
    </ion-button>
  </div>
</ng-container>
