  <ion-chip (click)="get_account()" color="danger" *ngIf="getWindowWidth()>500; else mobile"  slot="start">
    <ion-avatar>
      <ion-img *ngIf="account.images.length>0 ; else no_img" data-cy="status_img" class="sf_avatar" src="{{account.images[0].url}}">
      </ion-img>
        <ng-template #no_img>
            <ion-img data-cy="status_img" class="sf_avatar" src="../../assets/icon/account.svg"></ion-img>
        </ng-template>
    </ion-avatar>
    <ion-label class="sf_text" style="text-align: left">
      Connected as <ion-label class="sf_title">{{account.display_name}}</ion-label>
    </ion-label>
  </ion-chip>
  <ng-template #mobile>
    <ion-buttons>
      <ion-button (click)="get_account()">
        <ion-icon name="person-outline" class="sf_icons"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-template>
