<ion-card>
  <ion-card-content>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <div *ngIf="artist.images.length>0; else no_img">
          <ion-img src="{{artist.images[0].url}}"></ion-img>
        </div>
        <ng-template #no_img>
          <ion-icon name="person-outline"></ion-icon>
        </ng-template>
      </ion-thumbnail>
      <ion-label>
      <h1 class="sf_general_title ion-text-left">
        {{artist.name}}
      </h1>
        </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
